<h5>Organizations</h5>

<p-table 
    [value]="organizations" 
    styleClass="p-datatable-gridlines" 
    responsiveLayout="scroll" 
    [paginator]="true" [rows]="10" 
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
    [rowsPerPageOptions]="[10,25,50]"
    [globalFilterFields]="['name','type']"
    [lazy]="true" (onLazyLoad)="loadTable($event)" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>View</th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th>Description</th>
            <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
        </tr>
        <tr>
            <th></th>
            <th>
                <div class="flex justify-content-center align-items-center">
                    <p-columnFilter type="text" field="name" display="row" [showMenu]="false"></p-columnFilter>
                </div>
            </th>
            <th></th>
            <th>
                <div class="flex justify-content-center align-items-center">
                    <p-columnFilter field="type" [showMenu]="false" [matchMode]="'equals'">
                        <ng-template pTemplate="filter" let-type let-filter="filterCallback">
                            <p-dropdown [ngModel]="type" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span>{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-organization>
        <tr>
            <td>
                <button pButton pRipple type="button" icon="pi pi-user" (click)="viewOrganization(organization.id)" class="p-button-rounded"></button>
            </td>
            <td>{{organization.name}}</td>
            <td>{{organization.description}}</td>
            <td>{{organization.type}}</td>
        </tr>
    </ng-template>
</p-table>